<dialog class="dialog" id="confirm-nav-modal">
  <section class="wrapper wrapper--with-gap | confirm-nav">
    <div class="container container--secondary">
      <p class="confirm-nav__prompt" id="prompt"></p>
    </div>
    <footer class="container container--secondary | confirm-nav__footer">
      <button class="main-button main-button--small" id="no" data-en="No" data-pt="Não">No</button>
      <button class="main-button main-button--small" id="yes" data-en="Yes" data-pt="Sim">Yes</button>
    </footer>
  </section>
</dialog>