<h2 class="header__title secondary-button" id="navigate"></h2>
<nav class="nav" id="nav-menu">
  <ul>
    <li class="nav__item" id="nav-battle" data-en="Restart battle" data-pt="Reiniciar batalha">Restart battle</li>
    <li class="nav__item" id="nav-character-selection" data-en="Go back to character selection" data-pt="Voltar para a seleção de personagens">Go back to character selection</li>
    <li class="nav__item" id="nav-strategy-room" data-en="Go back to the strategy room" data-pt="Voltar para a sala de estratégia">Go back to the strategy room</li>
    <li class="nav__item" id="nav-main-menu" data-en="Exit to the main menu" data-pt="Sair para o menu principal">Exit to the main menu</li>
  </ul>
</nav>
<button class="header__options secondary-button" id="see-result" data-en="Result" data-pt="Resultado">Result</button>
<button class="header__options secondary-button" id="settings" data-en="Settings" data-pt="Opções">Settings</button>