<h1 class="header__title secondary-button" id="navigate">
  <span class="desktop-button" id="title"></span>
  <i class="mobile-button"><img src="../../assets/icons/arrow_back_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt=""></i>
</h1>
<nav class="nav" id="nav-menu">
  <ul>
    <li class="nav__item" id="nav-battle" data-en="Restart battle" data-pt="Reiniciar batalha">Restart battle</li>
    <li class="nav__item" id="nav-character-selection" data-en="Go back to character selection" data-pt="Voltar para a seleção de personagens">Go back to character selection</li>
    <li class="nav__item" id="nav-strategy-room" data-en="Go back to the strategy room" data-pt="Voltar para a sala de estratégia">Go back to the strategy room</li>
    <li class="nav__item" id="nav-main-menu" data-en="Exit to the main menu" data-pt="Sair para o menu principal">Exit to the main menu</li>
  </ul>
</nav>
<button class="header__button secondary-button" id="see-result">
  <span class="desktop-button" data-en="Result" data-pt="Resultado">Result</span>
  <i class="mobile-button"><img src="../../assets/icons/more_horiz_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt=""></i>
</button>
<button class="header__button secondary-button" id="settings">
  <span class="desktop-button" data-en="Settings" data-pt="Opções">Settings</span>
  <i class="mobile-button"><img src="../../assets/icons/settings_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt=""></i>
</button>