

.radar-lock-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radar-lock-friendly > circle {
  fill: #63FF73;
}

.radar-lock-friendly > circle.sunken {
  fill: transparent;
}

.radar-lock-foe > path {
  opacity: 0;
}

.radar-lock-foe > path.lightUp {
  opacity: 1;
}

.countermeasure-indicator {
  font-size: var(--fs-300);
  color: var(--color-750);
}

.countermeasure-indicator.lightUp {
  animation: blink-foe-indicator 700ms steps(1) 5;
}

@keyframes blink-foe-indicator {
  0%, 100% {
    color: red;
  }
  50% {
    color: var(--color-750);
  }
}

.container--radar-lock-warning.lightUp {
  animation: blink-radar-screen 1500ms ease-in-out infinite;
}

@keyframes blink-radar-screen {
  0%, 100% {
    background-color: var(--color-900);
  }
  10% {
    background-color: rgba(255, 0, 0, 0.3);
  }
}

.shake {
  animation: shake-screen 0.5s;
}

.shake .square {
  animation: outline-glitch 0.5s;
}

@keyframes shake-screen {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes outline-glitch {
  0%, 100% { outline-offset: -3px; }
  50% { outline-offset: 8px; }
}

/* RESULT DIALOG ***********/

.dialog .sayings {
  font-family: var(--sec-ff);
  font-size: var(--fs-600);
  max-width: 50ch;
}

.secondary-button#see-result {
  height: fit-content;
  visibility: hidden;
}

.secondary-button#see-result.visible {
  visibility: visible;
}