/* BOARDS ***********/

.battle-displays {
  --fs-small: max(0.45rem, 0.8em);
  /* --fs-medium: max(0.75rem, 1.8vmin); */
  grid-area: 2 / 1 / 3 / 1;

  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: var(--main-gap-size);
  padding-inline: 1.25rem;
  font-size: min(2.3vh, 1vw);
  transition: opacity 1.2s cubic-bezier(0.65, 0, 0.35, 1),
              filter 1.2s cubic-bezier(0.65, 0, 0.35, 1),
              transform 1.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.display-set {
  display: flex;
  gap: var(--main-gap-size);
}

.display-set--aux {
  flex-direction: column;
}

/* RADAR ***********/

.mini-radar {
  /* display: flex; */
  position: relative;
  width: 9.375em;
  height: 9.375em;
}

.mini-radar__screen {
  width: 8.125em;
  height: 8.125em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mini-radar__friendly > circle {
  fill: #63FF73;
}

.mini-radar__friendly > circle.sunken {
  fill: transparent;
}

.mini-radar__foe > path {
  opacity: 0;
}

.mini-radar__foe > path.lightUp {
  opacity: 1;
}

.countermeasure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.375em;
  height: 3.125em
}

.countermeasure__indicator {
  font-size: var(--fs-300);
  color: var(--color-750);
}

.countermeasure__indicator.lightUp {
  animation: blink-foe-indicator 700ms steps(1) 5;
}

@keyframes blink-foe-indicator {
  0%, 100% {
    color: red;
  }
  50% {
    color: var(--color-750);
  }
}

.mini-radar.lightUp {
  animation: blink-radar-screen 1500ms ease-in-out infinite;
}

@keyframes blink-radar-screen {
  0%, 100% {
    background-color: var(--color-900);
  }
  10% {
    background-color: rgba(255, 0, 0, 0.3);
  }
}

/* SHAKE ANIMATION ***********/

.shake {
  animation: shake-screen 0.5s;
}

.shake .square {
  animation: outline-glitch 0.5s;
}

@keyframes shake-screen {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes outline-glitch {
  0%, 100% { outline-offset: -3px; }
  50% { outline-offset: 8px; }
}

/* REACTION ***********/

.reaction {
  display: flex;
  justify-content: center;
  gap: var(--main-gap-size);
  position: absolute;
  width: 100%;
  margin-top: var(--outer-margin);
  z-index: 20;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 200ms ease-in-out; /* manipulated in js */
}

.reaction.entra {
  visibility: visible;
  transform: translate(0);
}

.reaction__character-photo {
  width: clamp(2rem, 15vmin, 9.375rem);
  height: auto;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}

.reaction.entra .reaction__character-photo {
  transform: scale(1);
}

.reaction__character-quotes {
  display: flex;
  align-self: flex-start;
  width: clamp(14rem, 40vw, 50ch);
  padding: 0.5rem;
  font-family: var(--sec-ff);
  font-style: italic;
  font-size: var(--fs-400);
}

/* RESULT ***********/

.result {
  display: grid;
  gap: var(--main-gap-size);
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
}

.result__header,
.result__footer {
  grid-column: 1 / 3;
}

.result__character {
  align-self: stretch;
  width: clamp(5rem, min(40vh, 20vw), 15rem);
  object-fit: cover;
}

.result__quote {
  max-width: 70ch;
  padding: min(1.75rem, 3vmin);
  font-family: var(--sec-ff);
  font-size: var(--fs-600);
}

/* MEDIA QUERIES ***********/

@media (min-aspect-ratio: 3/1) {
  .battle-displays {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (orientation: portrait) {
  .battle-displays {
    grid-auto-flow: column;
    font-size: min(1.1vh, 1.9vw);
  }

  .display-set--main {
    flex-direction: column;
  }

  .reaction {
    position: relative;
    grid-area: 2 / 1 / 3 / 1;
    align-self: start;
    margin: 0;
  }
}

@media (max-aspect-ratio: 1/2) {
  .battle-displays {
    grid-auto-flow: row;
    font-size: min(1.1vh, 2.5vw);
  }

  .display-set--aux {
    flex-direction: row;
    align-items: end;
  }

  .reaction__character-photo {
    width: clamp(4rem, 15vmin, 9.375rem);
  }
  
  .reaction__character-quotes {
    width: clamp(6rem, 65vw, 50ch);
  }
}