/* Global */

button:not([disabled]):not(.main-button) {
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}

button:focus-visible {
  outline-style: none;
}

/* Main */

.main-button {
  position: relative;
  border: none;
  font-family: var(--main-ff);
  font-size: var(--fs-700);
  color: var(--color-100);
  background: none;
  cursor: crosshair;
  z-index: 1;
}

.main-button::before {
  content: '';
  display: inline;
  width: calc(100% + 2.1875em);
  height: calc(100% + 2.1875em);
  border: max(0.1875em, 0.5vmin) solid white;
  position: absolute;
  top: -1.1875em;
  left: -1.1875em;
  z-index: -1;
  background-color: white;
  transform: translateY(80%) scaleX(0%);
}

.main-button:not([disabled]):hover.main-button::before {
  animation: show-button-container 200ms steps(2) forwards,
    hue-rotate 2s ease-in-out infinite;
}

@keyframes show-button-container {
  50% { transform: translateY(0) scaleX(30%); background-color: white; }
  100% { transform: translateY(0) scaleX(100%); background-color: #161238; }
}

@keyframes hue-rotate {
  0%, 100% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(-10deg) saturate(400%); }
}

.main-button--small {
  font-size: var(--fs-600);
}

/*
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
*/

/* Secondary */

.secondary-button {
  font-family: var(--main-ff);
  font-size: var(--fs-600);
  border-style: none;
  background-color: transparent;
  color: var(--color-100);
}

.close-button {
  --close-button-size: max(0.75rem, 1.8vmin);
  position: absolute;
  top: calc(var(--close-button-size) * -1);
  left: calc(var(--close-button-size) * -1);
  width: calc(var(--close-button-size) * 2);
  height: calc(var(--close-button-size) * 2);
  border-style: none;
  border-radius: 50%;
  font-family: var(--main-ff);
  font-size: var(--close-button-size);
  background-color: var(--color-600);
  color: var(--color-100);
}

.help-button {
  position: fixed;
  right: var(--outer-margin);
  bottom: var(--outer-margin);
  padding: clamp(0.8rem, 3vmin, 1.5rem);
  border-style: none;
  border-radius: 50%;
  font-family: var(--main-ff);
  font-size: var(--fs-700);
  background-color: var(--color-900);
  color: var(--color-100);
  transition: transform 50ms ease-in-out;
}

.help-button:hover {
  background-color: var(--color-850);
  transform: scale(1.1);
}

/* Selection */

.selection-button {
  padding: 0.75rem;
  border-style: none;
  font-family: var(--main-ff);
  background-color: transparent;
  color: var(--color-100);
}

.selection-button.selected {
  opacity: 1;
}

/* Key */

.key-button {
  padding: 0.5rem;
  border-radius: 0.3125rem;
  font-family: var(--main-ff);
  font-size: var(--fs-400);
  color: var(--color-100);
  background-color: var(--color-800);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.key-button:hover {
  background-color:var(--color-750);
}

.key-button:active {
  background-color:var(--color-850);
}