/* Global */

button:not([disabled]):not(.main-button) {
  cursor: pointer;
}

button:disabled {
  opacity: 0.3;
}

button:focus-visible {
  outline-style: none;
}

/* Main */

.main-button {
  position: relative;
  border: none;
  font-family: var(--main-ff);
  font-size: var(--fs-700);
  color: var(--color-100);
  background: none;
  cursor: crosshair;
  z-index: 1;
}

.main-button::before {
  content: '';
  display: block;
  width: calc(100% + 2.6rem);
  height: 4rem;
  border: 4px solid white;
  position: absolute;
  top: -1.3rem;
  left: -1.3rem;
  z-index: -1;
  background-color: white;
  transform: translateY(80%) scaleX(0%);
}

.main-button:not([disabled]):hover.main-button::before {
  animation: show-button-container 200ms steps(2) forwards,
    hue-rotate 2s ease-in-out infinite;
}

@keyframes show-button-container {
  50% { transform: translateY(0) scaleX(30%); background-color: white; }
  100% { transform: translateY(0) scaleX(100%); background-color: #161238; }
}

@keyframes hue-rotate {
  0%, 100% { filter: hue-rotate(0deg); }
  50% { filter: hue-rotate(-10deg) saturate(400%); }
}

.main-button--small {
  font-size: var(--fs-600);
}

.main-button--small::before {
  height: 3.5rem;
}

/* .main-button {
  border: 0;
  border-radius: 8px;
  padding: 1.1rem 0.8rem;
  font-family: var(--main-ff);
  font-size: var(--fs-600);
  color: var(--color-100);
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%,#00DDEB);
  box-shadow: rgba(64, 40, 196, 0.2) 0 15px 30px -5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main-button:active,
.main-button:hover {
  box-shadow: rgba(151, 65, 252, 0.5) 0 15px 30px -5px;
}

.main-button span {
  background-color: rgb(5, 6, 45);
  padding: 1rem 1.6rem;
  border-radius: 6px;
  transition: all 100ms ease-in-out;
}

.main-button:hover span {
  background: none;
} */

/* Secondary */

.secondary-button {
  font-family: var(--main-ff);
  font-size: var(--fs-600);
  border-style: none;
  background-color: transparent;
  color: var(--color-100);
}

/* Selection */

.selection-button {
  padding: 0.6rem;
  border-style: none;
  font-family: var(--main-ff);
  background-color: transparent;
  color: var(--color-100);
}

.selection-button.selected {
  opacity: 1;
}

/* Key */

.key-button {
  padding: 0.4rem;
  border-radius: 5px;
  font-family: var(--main-ff);
  font-size: var(--fs-400);
  color: var(--color-100);
  background-color: var(--color-800);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.key-button:hover {
  background-color:var(--color-750);
}

.key-button:active {
  background-color:var(--color-850);
}