/* WRAPPERS ***********/

.wrapper {
  display: grid;
  gap: 1rem;
}

.wrapper--main-menu {
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  height: 100vh;
  gap: 0;
}

.wrapper--character-selection {
  grid-auto-flow: column;
  justify-content: space-evenly;
  place-items: center;
  height: 100vh;
  gap: 0;
}

.wrapper--strategy-room {
  grid-template-columns: 434px 640px 300px;
  grid-template-rows: 60px 300px 260px 120px;
  grid-template-areas:
    "fleet board charName"
    "fleet board charPhoto"
    "fleet board charQuotes"
    "fleet footer footer";
  place-content: center;
  min-height: 100vh;
}

.wrapper--battle {
  grid-template-columns: 150px 650px 650px 150px;
  grid-template-rows: 150px 500px;
  place-content: center;
  margin-top: 1rem;
}

.wrapper--reaction {
  grid-template-columns: auto 500px;
  justify-content: center;
  padding-top: 1rem;
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 200ms ease-in-out; /* manipulated in js */
}

.wrapper--reaction.entra {
  visibility: visible;
  transform: translate(0);
}

.wrapper--options {
  grid-template-rows: 130px 1fr 130px;
}

.wrapper--result {
  grid-template-rows: 130px 240px 130px;
  grid-template-columns: 240px 1fr;
}

.wrapper--result[data-result="win"] {
  grid-template-columns: 240px 1fr;
}

.wrapper--result[data-result="lose"] {
  grid-template-columns: 1fr;
  column-gap: 0;
}

/* CONTAINERS ***********/

.container {
  display: flex;
}

.container--main-big {
  border-top: 1.5rem solid var(--color-750);
  border-right: 2rem solid var(--color-850);
  border-left: 1rem solid var(--color-750);
  border-bottom: 1.5rem solid var(--color-850);
  background-color: var(--color-800);
}

.container--main-small {
  border-top: 0.5rem solid var(--color-750);
  border-right: 1rem solid var(--color-850);
  border-left: 1rem solid var(--color-750);
  border-bottom: 1rem solid var(--color-850);
  background-color: var(--color-800);
}

.container--secondary {
  border: 5px solid var(--color-800);
  background-color: var(--color-900);
}

/* Main Menu */

.wrapper--main-menu .container--game-title {
  padding: 1.5rem 2rem;
  margin-block-start: 2rem;
  background-color: var(--color-850);
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(#d7d8f0, #3f5192);
  z-index: 1;
}

.wrapper--main-menu .container--buttons {
  width: 100%;
  justify-content: space-between;
  gap: 8rem;
  margin-block-end: 5rem;
  z-index: 1;
}

/* Strategy Room */

.wrapper--strategy-room .container--fleet {
  grid-area: fleet;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.8rem 2.2rem;
}

.wrapper--strategy-room .container--strategy-board {
  grid-area: board;
}

.wrapper--strategy-room .container--character-name {
  grid-area: charName;
  flex-direction: column;
  justify-content: center;
}

.wrapper--strategy-room .container--character-photo {
  grid-area: charPhoto;
}

.wrapper--strategy-room .container--character-quotes {
  grid-area: charQuotes;
  padding: 0.6rem 1rem;
}

.wrapper--strategy-room .container--footer {
  grid-area: footer;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.4rem;
}

.wrapper--strategy-room .formation-actions {
  display: flex;
  gap: 2rem;
}

/* Strategy Room & Battle */

.container--board {
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 2rem 3rem;
}

/* Battle */

.wrapper--battle .container--human-board {
  grid-column: 2 / 3;
  grid-row: 1 / 3
}

.wrapper--battle .container--cpu-board {
  grid-column: 3 / 4;
  grid-row: 1 / 3
}

.wrapper--battle .container--radar-lock-warning {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
}

.wrapper--battle .container--countermeasure {
  grid-column: 1 / 2;
  display: grid;
  place-content: center;
  height: 50px;
}

/* Reaction Quotes */

.wrapper--reaction .container--character-photo {
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}

.wrapper--reaction .container--character-photo {
  transform: scale(1);
}

.wrapper--reaction .container--character-quotes {
  padding: 0.4rem;
  align-self: flex-start;
}

/* Options Modal */

.wrapper--options .container--title {
  justify-content: center;
  align-items: center;
  padding: 1rem 1.4rem;
}

.wrapper--options .container--options {
  flex-direction: column;
  width: 50rem;
}

.wrapper--options .container--options.container--secondary:hover {
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(#d7d8f0, #3f5192);
  background-color: var(--color-850);
}

.wrapper--options .container--footer {
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  overflow: hidden;
}

/* Result Modal */

.wrapper--result .container--result-display,
.wrapper--result .container--footer {
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 1rem 1.4rem;
}

.wrapper--result .container--sayings {
  flex-direction: column;
  height: 100%;
  padding: 1.4rem;
}