.dialog {
  position: fixed;
  margin: auto;
  inset: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  opacity: 0;
  transform: translateY(50%);
  transition: all 500ms ease-in-out;
}

.dialog.opened {
  opacity: 1;
  transform: translate(0);
}

.dialog::backdrop {
  background-color: var(--color-900);
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.dialog.dialog.opened::backdrop {
  opacity: 0.8;
}

.activation-screen {
  position: fixed;
  margin: auto;
  inset: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
}

.activation-screen::backdrop {
  background-color: var(--color-900);
  opacity: 0.8;
}

.activation-screen:focus-visible {
  outline: none;
}