/* GAMEBOARDS STRUCTURE ***********/

.gameboard-name {
  align-self: flex-start;
  font-size: var(--fs-300);
}

.gameboard-display {
  position: relative;
  min-width: 500px;
  min-height: 500px;
  background-color: var(--color-900);
  overflow: hidden;
}

.gameboard-display > * {
  position: absolute;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 50px);
}

.human-board {
  background: radial-gradient(
    var(--color-player-alpha),
    transparent
  );
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

/* SQUARES ***********/

.square {
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -3px;
}

.human-board .square {
  outline-color: var(--color-player);
}

.cpu-board .square {
  outline-color: var(--color-cpu);
  cursor: crosshair;
}

.cpu-board .square:not(.occupied):not(.miss):not(.hit):not(.close):not(.sunk):hover {
  /* Hover untouched squares */
  background-color: var(--color-cpu-alpha);
}

/* Squares status */

.close,
.miss {
  background: radial-gradient(#2d78be, #00488b, transparent);
}

.sunk,
.hit {
  background: radial-gradient(#ff6e35, #ff0015, transparent);
}

.explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
}

/* Strategy Board */

#strategy-board .square:not(.occupied) {
  position: relative;
}

#strategy-board .square:not(.occupied)::after {
  content: '~~';
  color: var(--color-player-alpha);
  font-family: var(--sec-ff);
  display: block;
  width: 100%;
  height: 100%;
  top: 25%;
  left: -25%;
  position: absolute;
}

#strategy-board[data-activeAxis=x] .square:not(.occupied)::after {
  animation: x-axis 700ms infinite steps(3);
}

@keyframes x-axis {
  from { transform: translateX(0%); }
  to { transform: translateX(100%); }
}

#strategy-board[data-activeAxis=y] .square:not(.occupied)::after {
  animation: y-axis 600ms infinite steps(3);
}

@keyframes y-axis {
  from { transform: rotateZ(90deg) translateX(0%); }
  to { transform: rotateZ(90deg) translateX(100%); }
}

/* DECORATIVE ***********/

/* Border */

.dashed-border {
  stroke-width: 10;
  stroke-dasharray: 250 250;
  stroke-dashoffset: 130;
}

.container--strategy-board .dashed-border,
.container--human-board .dashed-border {
  stroke: var(--color-player);
}

.container--cpu-board .dashed-border {
  stroke: var(--color-cpu);
}

.not-clickable {
  pointer-events: none;
}

/* Radar */

.gameboard-display__radar-signal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  background-image: linear-gradient(
    to top right,
    var(--color-player) 0%,
    transparent 50%
  );
  animation: sweep 5s infinite linear;
}

@keyframes sweep {
  to { transform: rotateZ(360deg); }
}