/* WRAPPER ***********/

.main-menu {
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
}

/* LOGO ***********/

.main-menu__title-container {
  padding: 2rem;
  margin-block-start: 2rem;
  background-color: var(--color-850);
  z-index: 1;
}

.main-menu__title {
  margin: 0;
  font-size: var(--fs-900);
  pointer-events: none;
}

/* ANIMATED BG ***********/

.menu-bg {
  position: absolute;
  width: calc(100% + 8px);
  height: 84vh;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(#d7d8f0, #3f5192);
  margin-block-start: 6rem;
  overflow: hidden;
}

.menu-bg * {
  margin-block-start: -8rem;
  position: absolute;
}

#sky {
  width: 3840px;
  height: 1080px;
  background-image: url(../assets/backgrounds/sky.jpg);
  animation: move-sky 80s steps(240) infinite;
}

@keyframes move-sky {
  to { transform: translateX(-50%); }
}


#clouds {
  transform: translateX(100%);
  animation: move-clouds 60s steps(60) infinite;
}

@keyframes move-clouds {
  to { transform: translateX(-100%); }
}

#sea-base {
  animation: wave 3s steps(6) infinite;
}

#sea-move1,
#sea-move2 {
  opacity: 0;
  animation: wave 3s steps(6) infinite;
}

@keyframes wave {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: translateY(-10px);
  }
}

#ship {
  animation: sail 3s steps(6) infinite;
}

@keyframes sail {
  0%, 100% {
    transform: translate(5px, 10px) rotateZ(1deg);
  }
  50% {
    transform: none;
  }
}

.helicopter {
  animation: fly 15s linear 2s infinite;
}

#helicopter1 {
  top: 26rem;
  right: 0;
  transform: rotateZ(-5deg);
}

#helicopter2 {
  top: 28rem;
  right: -10rem;
  transform: translateX(5rem) scale(0.6) rotateZ(-5deg);
}

@keyframes fly {
  100% { transform: translate(-300vw, -5rem) rotateZ(-5deg); }
}

/* BUTTONS ***********/

.main-menu__buttons {
  width: 100%;
  justify-content: space-between;
  gap: 8rem;
  margin-block-end: 5rem;
  z-index: 1;
}