/* WRAPPER ***********/

.confirm-nav {
  display: grid;
  gap: var(--main-gap-size);
  grid-template-rows: auto auto;
  width: min(50rem, 80vw);
}

/* CONTAINERS ***********/

.confirm-nav__prompt {
  padding: 1.75rem;
  font-size: var(--fs-500);
  line-height: 1.75rem;
}

.confirm-nav__footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 3rem;
  padding: 3rem 2rem;
}

/* OTHER ***********/

.nav {
  display: none;
  position: absolute;
  top: min(3.75rem, 7vmin);
}

.nav.opened {
  display: block;
}

.nav__item {
  display: none;
  list-style: none;
  font-family: var(--sec-ff);
  font-size: var(--fs-600);
  background-color: var(--color-900);
  margin-block: 0.25rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}

.nav__item:hover {
  background-color: var(--color-accent-1);
}

.nav__item#nav-main-menu,
[data-content="battle"] .nav__item,
[data-content="strategy-room"] .nav__item#nav-character-selection {
  display: block;
}