/* Global */

.options__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
  min-height: 4rem;
  padding: 1rem 2rem;
}

.options__item:hover {
  background-color: var(--color-750);
}

.label {
  color: var(--color-100);
  font-size: var(--fs-600);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-100);
  border-radius: 0.6rem;
  height: 0.6rem;
  width: 10rem;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--color-700);
  border-radius: 0.2rem;
  height: 1.4rem;
  width: 0.8rem;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--color-700);
  border: none;
  border-radius: 0.2rem;
  height: 1.4rem;
  width: 0.8rem;
}

.icon {
  height: var(--icon-size);
  opacity: 0.3;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  outline-offset: 1rem;
}

.icon:hover {
  opacity: 1;
}

/* .select {
  padding: 0.4rem 0.6rem;
  outline: 1px solid var(--color-200);
  font-family: var(--sec-ff);
  font-size: var(--fs-500);
  cursor: pointer;
  color: var(--color-100);
  background-color: var(--color-800);
  transition: all 150ms ease-in-out;
}

.select:hover {
  background-color: var(--color-750);
  outline: 2px solid var(--color-100);
} */

/* Language */

.language-radio {
  display: none;
}

.language-radio.selected + .label .icon--flag {
  outline: 1px solid #ccc;
  outline-offset: 0px;
  opacity: 1;
}

.icon--flag {
  padding: 5px;
}