/* WRAPPERS ***********/

.place-ships-wrapper {
  display: grid;
  grid-template-columns: 434px 640px 300px;
  grid-template-rows: 60px 300px 260px 120px;
  grid-template-areas:
    "fleet board charName"
    "fleet board charPhoto"
    "fleet board charQuotes"
    "fleet footer footer";
  gap: 1rem;
  place-content: center;
  min-height: 100vh;
}

.wrapper--fleet {
  grid-area: fleet;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.8rem 2.2rem;
  border-top: 1.5rem solid var(--color-750);
  border-right: 2rem solid var(--color-850);
  border-left: 1rem solid var(--color-750);
  border-bottom: 1.5rem solid var(--color-850);
}

.wrapper--player-board {
  grid-area: board;
}

.wrapper--character-name {
  grid-area: charName;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-900);
  border: 5px solid var(--color-800);
}

.wrapper--character-photo {
  grid-area: charPhoto;
}

.wrapper--character-quotes {
  grid-area: charQuotes;
  padding: 0.6rem 1rem;
  background-color: var(--color-900);
  border: 5px solid var(--color-800);
}

.wrapper--footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.4rem;
  border-top: 0.5rem solid var(--color-750);
  border-right: 1rem solid var(--color-850);
  border-left: 1rem solid var(--color-750);
  border-bottom: 1rem solid var(--color-850);
}

/* CONTENTS ***********/

.ship {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.ship__name {
  padding-left: 0.8rem;
  font-size: var(--fs-300);
  text-transform: capitalize;
}

.ship__yard {
  padding: 0.8rem;
  height: calc(50px + 1.6rem);
  border-bottom: 2px solid var(--color-100);
  background-color: var(--color-900);
}

.ship__drag:not([draggable]) {
  cursor: not-allowed;
}

.ship__drag[draggable] {
  cursor: grab;
}

.character-name {
  font-size: var(--fs-300);
  text-align: center;
}

.character-quotes {
  font-family: var(--sec-ff);
  font-style: italic;
  font-size: var(--fs-500);
}

.instructions {
  font-family: var(--sec-ff);
}

.instructions button {
  padding: 0.4rem;
  border-radius: 5px;
  font-family: var(--main-ff);
  font-size: var(--fs-400);
  color: var(--color-100);
  background-color: var(--color-800);
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.instructions button:hover {
  background-color:var(--color-750);
}

.instructions button:active {
  background-color:var(--color-850);
}