.ship {
  display: flex;
  flex-direction: column;
  gap: 4cqmin;
}

.ship__name {
  align-self: start;
  font-size: var(--fs-small);
  text-transform: capitalize;
}

.ship__yard {
  --ship-yard-padding: 6cqmin;
  height: calc(var(--square-size) + var(--ship-yard-padding) * 2);
  padding: var(--ship-yard-padding);
  border-bottom: max(1px, 1cqmin) solid var(--color-100);
  font-size: var(--fs-normal);
  background-color: var(--color-900);
}

.ship__yard:hover {
  background: var(--color-800);
}

.ship__icon {
  height: var(--square-size);
  background-size: contain;
  mask-size: contain;
  background-position: center;
  mask-position: center;
  background-repeat: no-repeat;
  mask-repeat: no-repeat;
  transform-origin: calc(var(--square-size) / 2) calc(var(--square-size) / 2);
}

.ship__icon#carrier {
  width: calc(var(--square-size) * 5);
}

.ship__icon#battleship {
  width: calc(var(--square-size) * 4);
}

.ship__icon#cruiser {
  width: calc(var(--square-size) * 3);
}

.ship__icon#submarine {
  width: calc(var(--square-size) * 3);
}

.ship__icon#destroyer {
  width: calc(var(--square-size) * 2);
}

/* DRAG AND DROP ***********/

.ship__drag:not([draggable]) {
  cursor: not-allowed;
}

.ship__drag[draggable] {
  cursor: grab;
}

.ship__drag--clone {
  position: absolute;
  left: -100%;
}

.dragging {
  opacity: 1;
  cursor: grabbing;
}

.rotated {
  transform: rotate(90deg);
}

.dragover--allowed-placement {
  background-color: var(--color-allowed);
}

.dragover--not-allowed-placement {
  background-color: var(--color-not-allowed);
}

/* SHIPS ON GAMEBOARD ***********/

.display--attack .ship__icon,
.display--defense .ship__icon {
  position: absolute;
}

.display__grid--cpu .ship__icon {
  visibility: hidden;
  opacity: 0;
}

.display__grid--cpu .ship__icon:not(sunken).revealed {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.ship__icon.sunken {
  visibility: visible;
  animation: sink-ship 1s ease-in-out forwards;
}

@keyframes sink-ship {
  70% { opacity: 1; }
  100% { filter: brightness(40%); opacity: 1; }
}