/* WRAPPER ***********/

.strategy-room {
  font-size: min(1.75vh, 1.2vw, 1.2rem);
  
  display: grid;
  gap: var(--main-gap-size);
  place-content: center;
  grid-template-columns: 25em 36em 15em;
  grid-template-rows: 3em 16em 16em 8em;
  grid-template-areas:
    "fleet board charName"
    "fleet board charPhoto"
    "fleet board charQuotes"
    "fleet footer footer";
}

/* CONTAINERS ***********/

.strategy-room__fleet {
  grid-area: fleet;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 3cqmin;
  padding-inline: min(3.5cqmin, 2.4rem);
  container-type: size;
  overflow: auto;
}

.display--strategy {
  grid-area: board;
}

.strategy-room__character-name {
  grid-area: charName;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1em;
}

.strategy-room__character-photo {
  grid-area: charPhoto;

  display: flex;
}

.strategy-room__character-quotes {
  grid-area: charQuotes;

  display: flex;
  padding: 0.6em 1em;
  overflow-y: auto;
}

.strategy-room__footer {
  grid-area: footer;
  
  height: unset !important;
}

.instructions {
  --fs-instructions: max(0.75rem, 1.8vmin);

  width: 60vmin;
  right: var(--outer-margin);
  bottom: var(--outer-margin);
  position: fixed;
  padding: 0.6em 1em;
  font-size: var(--fs-instructions);
  line-height: 2em;
  z-index: 1;
  transform-origin: right;
  transition: all 100ms ease-in-out;
}

.instructions.hidden {
  visibility: hidden;
  transform: scaleX(0);
}

.instructions__close-button {
  position: absolute;
  top: calc(var(--close-button-size) * -1);
  left: calc(var(--close-button-size) * -1);
}

/* CONTENTS ***********/

.character-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.character-name {
  font-size: var(--fs-300);
  text-align: center;
}

.character-quotes {
  font-family: var(--sec-ff);
  font-style: italic;
  font-size: var(--fs-500);
}

.ship {
  display: flex;
  flex-direction: column;
  gap: 4cqmin;
}

.ship__name {
  align-self: start;
  font-size: var(--fs-300);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ship__yard {
  --ship-yard-padding: 6cqmin;
  height: calc(var(--square-size) + var(--ship-yard-padding) * 2);
  padding: var(--ship-yard-padding);
  border-bottom: max(1px, 1cqmin) solid var(--color-100);
  background-color: var(--color-900);
}

.ship__yard:hover {
  background: var(--color-800);
}

/* MEDIA QUERIES ***********/

@media (max-aspect-ratio: 4/3) and (min-aspect-ratio: 3/4) {
  .strategy-room {
    font-size: min(1.55vh, 1.45vw);
    grid-template-columns: 17em 8em 38em;
    grid-template-rows: 7em 38em 8em;
    grid-template-areas:
      "charName charPhoto charQuotes"
      "fleet fleet board"
      "fleet fleet footer";
  }
}

@media (max-aspect-ratio: 3/4) {
  .strategy-room {
    font-size: min(1.15vh);
    grid-template-columns: 11em 8em minmax(auto, 24em);
    grid-template-rows: 8em 20em 38em 8em;
    grid-template-areas:
      "charName charPhoto charQuotes"
      "fleet fleet fleet"
      "board board board"
      "footer footer footer";
    margin-inline: var(--outer-margin);
  }

  .display__name {
    align-self: center !important;
  }

  .strategy-room__fleet {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    align-content: space-evenly;
  }

  .ship {
    width: fit-content;
  }

  .ship:last-child .ship__name {
    width: 9em;
  }
}

@media (max-aspect-ratio: 6/13) {
  .strategy-room {
    font-size: min(1.3vh, 2.7vw);
    grid-template-columns: 4em auto auto;
    grid-template-rows: 4em 7em 17em 35em 7em;
    grid-template-areas:
      "charPhoto charName ."
      "charQuotes charQuotes charQuotes"
      "fleet fleet fleet"
      "board board board"
      "footer footer footer";
  }

  .strategy-room__fleet {
    padding: 2cqmin;
    row-gap: 2cqmin;
  }
}

@media (min-aspect-ratio: 4/2) {
  .strategy-room {
    font-size: min(2.4vh, 1vw);
    grid-template-columns: 20em auto 36em;
    grid-template-rows: 4em 16em 4em 8em;
    grid-template-areas:
      "charName board fleet"
      "charPhoto board fleet"
      "charQuotes board fleet"
      "charQuotes board footer";
  }

  .strategy-room__fleet {
    padding: 2cqmin;
    gap: 2cqmin;
    justify-content: center;
    align-content: space-evenly;
  }

  .ship {
    gap: 0.2rem;
  }

  .ship__yard {
    --ship-yard-padding: 4cqmin;
  }

  .ship:last-child .ship__name {
    width: 12em;
  }
}