/* VARIABLES ***********/

:root {
  --main-ff: "Press Start 2P", system-ui;
  --sec-ff: "Roboto Mono", monospace;

  --color-900: #0C0C1C;
  --color-800: #161238;
  --color-700: #20284b;
  --color-600: #2d3c64;
  --color-300: #3f5192;
  --color-200: #d7d8f0;
  --color-100: #cdcdcd;
  --color-accent-1: #0038ff;
  --color-accent-2: #9b0eff;

  --color-player: #0038FF;
  --color-player-alpha: unset;
  --color-cpu: #ff0020;
  --color-main-button: white;
  --color-radar-light: rgba(255, 0, 0, 0.3);
  --color-slider-thumb: #256dd8;
  --color-allowed: #4CAF50;
  --color-not-allowed: #ce1928;
  
  --gradient-silver: linear-gradient(var(--color-200), var(--color-300));
  --gradient-silver-dark: linear-gradient(#53558a, #1e253d);
  --gradient-miss: radial-gradient(#2d78be, #00488b, transparent);
  --gradient-hit: radial-gradient(#ff6e35, #ff0015, transparent);
  --gradient-human-board: radial-gradient(var(--color-player-alpha), transparent);
  --gradient-radar-sweep: linear-gradient(to top right, var(--color-player) 0%, transparent 50%);

  --fs-300: clamp(0.5rem, min(0.3885rem + 0.5vw, 1.6vh), 0.85rem);
  --fs-400: clamp(0.5rem, min(0.3885rem + 0.65vw, 2.1vh), 1rem);
  --fs-500: clamp(0.6rem, min(0.465rem + 0.4459vw, 4vh), 1rem);
  --fs-600: clamp(0.7rem, 2vmin, 1.2em);
  --fs-700: clamp(1.1rem, 2.5vmin, 2.4em);
  --fs-900: clamp(1.5rem, 7.5vmin, 5em);

  --icon-size: clamp(2rem, 8vmin, 2.75rem);
  --square-size: min(2.85em, 3.125rem);
  --main-gap-size: clamp(0.5em, 2vmin, 1.25em);
  --silver-border-width: clamp(0.2em, 0.5vmin, 0.5em);
  --outer-margin: min(3vmin, 1.25rem);
}

/* GLOBAL ***********/

html {
  font-family: var(--main-ff);
  line-height: 1.2;
  color: var(--color-100);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  /* Also inline for better performance */
  margin: 0;
  padding: 0;
  background-color: #110f26;
}

main {
  position: relative;
}

h1 {
  font-size: var(--fs-700);
}

.big-frame {
  border-top: min(3.5vmin, 2.3rem) solid var(--color-600);
  border-right: min(5vmin, 3.4rem) solid var(--color-800);
  border-left: min(2.5vmin, 1.8rem) solid var(--color-600);
  border-bottom: min(3.5vmin, 2.3rem) solid var(--color-800);
  background-color: var(--color-700);
}

.small-frame {
  border-top: min(1.5vmin, 1rem) solid var(--color-600);
  border-right: min(2.5vmin, 1.8rem) solid var(--color-800);
  border-left: min(2.5vmin, 1.8rem) solid var(--color-600);
  border-bottom: min(2.5vmin, 1.8rem) solid var(--color-800);
  background-color: var(--color-700);
}

.secondary-frame {
  border: clamp(0.1875rem, 0.5vmin, 0.4rem) solid var(--color-700);
  background-color: var(--color-900);
}

.silver-border {
  border: var(--silver-border-width) solid;
  border-image-slice: 1;
  border-image-source: var(--gradient-silver);
}

.title,
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  column-gap: min(3em, 4vw);
  row-gap: 2em;
  padding: min(1.6em, 4vh);
  height: clamp(100%, min(16vh, 24vw), 8.125rem);
}

.not-clickable {
  pointer-events: none;
}

.blurry {
  filter: blur(10px);
}

.invisible {
  opacity: 0;
  filter: brightness(400%);
  transform: scale(1.2);
}

/* MASTER WRAPPER ***********/

.content {
  grid-template-rows: auto 1fr;
  position: relative;
  height: 100vh;
  transition: filter 500ms ease-in-out;
  overflow: hidden;

  /* Also inline for better performance */
  display: none;
}

.content.shown {
  display: grid !important;
}

.content--main-menu {
  grid-template-rows: auto;
  place-content: center;
}

/* Background Images */

.content::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.content[data-content="strategy-room"]::before,
.content[data-content="character-selection"]::before {
  background-image: url(../assets/backgrounds/set-up-bg.jpg);
}

.content[data-content="battle"]::before {
  background-image: url(../assets/backgrounds/battle-bg.jpg);
}

/* LOADING SCREEN ***********/

.loader {
  /* Also inline for better performance */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 5vh, 5rem);
  overflow: hidden;
}

.loader.hidden {
  display: none !important;
}

.loader__img {
  width: clamp(20rem, 90vmin, 56rem);
}