/* VARIABLES ***********/

:root {
  --main-ff: "Press Start 2P", system-ui;
  --sec-ff: "Roboto Mono", monospace;

  --color-900: #0C0C1C;
  --color-850: #161238;
  --color-800: #20284b;
  --color-750: #2d3c64;
  --color-700: #256dd8;
  --color-500: #0038FF;
  --color-600: #AF40FF;
  --color-200: #3f5192;
  --color-100: #cdcdcd;

  --color-player: #0038FF;
  --color-player-alpha: rgba(255, 0, 32, 0.5);
  --color-cpu: #ff0020;

  --fs-300: 0.7rem;
  --fs-400: 0.8rem;
  --fs-500: 0.95rem;
  --fs-600: 1.1rem;
  --fs-700: 1.6rem;
  --fs-900: 3.2rem;

  --icon-size: 2.2rem;
}

/* GLOBAL ***********/

html {
  font-family: var(--main-ff);
  font-size: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-900);
  color: var(--color-100);
  overflow-x: hidden;

  /* Also inline for better performance */
  margin: 0;
  padding: 0;
}

.content {
  background-color: #110f26;
  min-height: 100vh;
  position: relative;

  /* Also inline for better performance */
  display: none;
}

main {
  position: relative;
}

/* BACKGROUND IMAGES ***********/

.content::before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1920px 1080px;
}

.content[data-content="strategy-room"]::before,
.content[data-content="character-selection"]::before {
  background-image: url(../assets/backgrounds/set-up-bg.jpg);
}

.content[data-content="battle"]::before {
  background-image: url(../assets/backgrounds/battle-bg.jpg);
}

/* LOADING SCREEN ***********/

.loader {
  /* Also inline for better performance */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  background-color: #110f26;
}