.battle-wrapper {
  display: grid;
  grid-template-columns: 150px 650px 650px 150px;
  grid-template-rows: 150px 500px;
  gap: 1rem;
  place-content: center;
  margin-top: 1rem;
}

.wrapper--player-board {
  grid-column: 2 / 3;
  grid-row: 1 / 3
}

.wrapper--cpu-board {
  grid-column: 3 / 4;
  grid-row: 1 / 3
}

.wrapper--radar-lock-warning {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  position: relative;
  width: 150px;
  background-color: var(--color-900);
  border: 5px solid var(--color-800);
}

.messages-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

.wrapper--sayings {
  padding: 0.4rem;
  background-color: var(--color-900);
  border: 5px solid var(--color-800);
  align-self: flex-start;
}

.radar-lock-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radar-lock-foe > path {
  opacity: 0;
}

.radar-lock-foe > path.lightUp {
  opacity: 1;
}

.sayings {
  font-family: var(--sec-ff);
  font-style: italic;
  font-size: var(--fs-400);
  max-width: 50ch;
}

/* RESULT DIALOG ***********/

.dialog {
  position: fixed;
  margin: auto;
  inset: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
}

.dialog::backdrop {
  background-color: var(--color-900);
  background-image: url(./assets/backgrounds/menu-background.jpg);
  opacity: 0.6;
}

.result-wrapper {
  display: grid;
  grid-template-rows: 130px 240px 130px;
  grid-template-columns: 240px 600px;
  gap: 1rem;
}

.result-wrapper[data-result="win"] {
  grid-template-columns: 240px 600px;
}

.result-wrapper[data-result="lose"] {
  grid-template-columns: 840px;
  column-gap: 0;
}

.result-wrapper[data-result="lose"] .wrapper--character {
  display: none;
}

.wrapper--result-display,
.wrapper--footer {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.4rem;
  border-top: 0.5rem solid var(--color-750);
  border-right: 1rem solid var(--color-850);
  border-left: 1rem solid var(--color-750);
  border-bottom: 1rem solid var(--color-850);
}

.dialog .wrapper--sayings {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.4rem;
}

.dialog .sayings {
  font-size: var(--fs-600);
  max-width: 50ch;
}

.secondary-button#see-result {
  height: fit-content;
  visibility: hidden;
}

.secondary-button#see-result.visible {
  visibility: visible;
}