.main-menu-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* NAME & OPTIONS ***********/

.name-options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5rem;
  margin: auto;
}

.game-title {
  margin: 0;
  font-size: var(--fs-900);
}

.player-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

.label {
  font-size: var(--fs-600);
}

.name-input {
  width: 26ch;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--color-100);
  border-radius: 0;
  font-family: var(--sec-ff);
  font-size: var(--fs-700);
  color: var(--color-100);
  background-color: var(--color-800);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.4rem
}

.options__language,
.options__audio {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.language-radio,
.audio-radio,
.character-radio {
  display: none;
}

.icon {
  height: var(--icon-size);
}

.icon--flag {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px;
}

/* CHARACTER SELETION ***********/

.character-selection-wrapper {
    /* background-color: var(--color-900); */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 600px;
}

.character-option {
  background-color: var(--color-900);
  cursor: pointer;
  /* opacity: 0.1; */
}

.character-option:hover {
  outline: 2px solid var(--color-100);
  outline-offset: 5px;
}

.label--character {
  position: relative;
}

.character-radio:checked + .label--character > .character-option {
  outline: 5px solid var(--color-500);
  outline-offset: -5px;
}

.character-radio:checked + .label--character:after {
  content: 'P1';
  display: block;
  position: absolute;
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  bottom: 0;
  background-color: var(--color-500);
}

.characters-revealer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.characters-revealer__paragraph {
  text-align: center;
  font-size: var(--fs-600);
  line-height: 1.5rem;
}