*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

/* GAMEBOARDS ***********/

#gameboards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.board {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  width: 500px;
  height: 500px;
}

.human-board {
  background-color: aqua;
}

.bot-board {
  background-color: pink;
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.square {
  outline: 1px solid black;
}

/* MARKINGS ***********/

.occupied {
  background-color: blue;
}

.miss {
  background-color: lightskyblue;
}

.hit {
  background-color: red;
}