:root {
  --main-ff: "Press Start 2P", system-ui;
  --sec-ff: "Roboto Mono", monospace;

  --color-900: #0C0C1C;
  --color-850: #181836;
  --color-800: #202040;
  --color-750: #2A2A51;
  --color-500: #0038FF;
  --color-600: #A32F80;
  --color-100: #cdcdcd;

  --color-char1: #ff0020;
  --color-char1-alpha: rgba(255, 0, 32, 0.5);

  --fs-300: 0.7rem;
  --fs-400: 0.8rem;
  --fs-600: 1.1rem;
  --fs-700: 1.4rem;
  --fs-900: 4.2rem;

  --icon-size: 2.2rem;
}

html {
  font-family: var(--main-ff);
  font-size: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-900);
  background-image: url('./assets/backgrounds/menu-background.jpg');

  margin: 0;
  color: var(--color-100);
}

.main-button {
  padding: 1rem 2.4rem 1rem 1.6rem;
  font-family: var(--main-ff);
  font-size: var(--fs-600);
  border-style: none;
  color: var(--color-100);
  background-color: var(--color-600);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--main-ff);
  font-size: var(--fs-600);
  border-style: none;
  background-color: transparent;
  color: var(--color-100);
  cursor: pointer;
}

/* GAMEBOARDS ***********/

/* #gameboards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
} */

.board {
  display: grid;
  grid-template-rows: repeat(10, 50px);
}

.row {
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.human-board {
  background: radial-gradient(
    var(--color-char1-alpha),
    transparent
  );
}

.human-board .square {
  outline: 1px solid var(--color-char1);
}

/* .bot-board {
  background-color: pink;
} */

.occupied {
  background-color: blue;
}

.miss {
  background-color: lightskyblue;
}

.hit {
  background-color: red;
}

/* SHIPS ***********/

.ship__icon#carrier {
  width: 250px;
}

.ship__icon#battleship {
  width: 200px;
}

.ship__icon#cruiser {
  width: 150px;
}

.ship__icon#submarine {
  width: 150px;
}

.ship__icon#destroyer {
  width: 100px;
}

/* DRAG AND DROP ***********/

.dragging {
  opacity: 0.3;
}

.dragover {
  background-color: #4CAF50;
}

.placed {
  visibility: hidden;
}